<div>
    <h3>{{ title }}</h3>
    <div class="attribute-box">
        <button mat-button color="basic" (click)="selectAll()">Sélectionner toute la surface</button>
    </div>
    <div class="attribute-box">
        <button class="action-btn" mat-button color="basic" (click)="copy()" matTooltip="Copier">
            <img class="action-icon" src="../../../assets/sidebar/selection/copy.svg" />
        </button>
        <button class="action-btn" mat-button color="basic" (click)="cut()" matTooltip="Couper">
            <img class="action-icon" src="../../../assets/sidebar/selection/cut.svg" />
        </button>
        <button class="action-btn" mat-button color="basic" (click)="paste()">
            <img class="action-icon" src="../../../assets/sidebar/selection/paste.svg" matTooltip="Coller" />
        </button>
        <button class="action-btn" mat-button color="basic" (click)="delete()" matTooltip="Supprimer">
            <img class="action-icon" src="../../../assets/sidebar/selection/delete.svg" />
        </button>
    <h3>{{ magnetTitle }}</h3>
    <div class="attribute-box">
        <mat-radio-group name="magnetModeList" [(ngModel)]="magnetService.currentMode">
            <mat-grid-list cols="2" rowHeight="30">
                <mat-grid-tile *ngFor='let mode of magnetModes'>
                    <mat-radio-button [value]="mode">{{ mode }}</mat-radio-button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-radio-group>
        
        <div *ngIf="magnetService.currentMode === 'Actif'" class="wrapper">
            <br/>
            <h4><em>Point d'ancrage</em></h4>
            <mat-radio-group name="anchors" [(ngModel)]="magnetService.anchor">
                <mat-grid-list cols="3" rows="3" rowHeight="30">
                    <mat-grid-tile *ngFor='let point of anchors'>
                        <mat-radio-button [value]="point" [matTooltip]="point" matTooltipPosition="below"></mat-radio-button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-radio-group>
        </div>
    </div>
</div>
