.action-btn {
    max-width: 10%;
}

.action-icon {
    width: 20px;
    height: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 180px;
    z-index: 2;
}
