<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-button-toggle-group [multiple]="false" [value]="value" (change)="onChange($event)">
        <mat-button-toggle value="Contour">Contour</mat-button-toggle>
        <mat-button-toggle value="Fill">Plein</mat-button-toggle>
        <mat-button-toggle value="FillWithContour">Mix</mat-button-toggle>
    </mat-button-toggle-group>
</div>
