<h1>Sauvegarde en ligne</h1>
<div class="option-section">
    <div class="sub-section">
        <div class="details">
            <form class="info">
                <mat-form-field>
                    <mat-label class="text">Titre</mat-label>
                    <input matInput [(ngModel)]="this.title" (input)="onTitleUpdate($event)" [ngModelOptions]="{ standalone: true }" />
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="sub-section">
        <h5>Étiquettes</h5>
        <form class="tag-section">
            <mat-form-field>
                <mat-label class="text">Ajouter une étiquette</mat-label>
                <input [(ngModel)]="tagName" [ngModelOptions]="{ standalone: true }" matInput />
            </mat-form-field>
            <button mat-button class="add-tag-button" (click)="addTag(tagName)">Ajouter</button>
        </form>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <br />
    <div
        class="icon"
        [matTooltip]="
            'Le titre doit avoir de 3 à 16 caractères et peut contenir des lettres, des chiffres, des espaces et des tirets (-). Les étiquettes doivent avoir de 3 à 16 caractères et peut contenir des lettres, . Maximum 7 étiquettes.'
        "
        matTooltipPosition="below"
    >
        <button mat-button>
            <img class="svg-icon" src="../../../assets/sidebar/savehelp.svg" alt="indications" />
        </button>
    </div>
    <br />
    <div class="sub-section">
        <h5>Aperçu</h5>
        <div id="preview">
            <canvas #canvas style="border: 1px solid black"></canvas>
            <canvas #previewCanvas hidden></canvas>
        </div>
    </div>

    <div class="button-section">
        <button mat-button mat-dialog-close>Annuler</button>
        <button mat-button *ngIf="!isSaving" class="confirm-button" (click)="save()">Sauvegarder</button>
    </div>
</div>
