#preview {
    max-width: 400px;
    max-height: 400px;
}
.icon {
    float: right;
    padding-top: 5px;
}
/* Override Angular Material elements */
 .mat-chip-list-wrapper {
    max-width: 350px !important;
}

 .mat-form-field-appearance-legacy .mat-form-field-label {
    color: black !important;
}

 .mat-ripple-element {
    display: none !important;
}

 .mat-form-field-ripple {
    background-color: violet !important;
}

 .mat-input-element {
    color: black !important;
    caret-color: black !important;
}

 .mat-form-field-underline,
.mat-form-field-underline.mat-focused {
    background-color: whitesmoke !important;
}
