html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
}

p {
    margin: 5px;
}

.flex {
    display: flex;
}

.attribute-box {
    color: black;
    border-radius: 5px;
    padding: 5px;
    background: #dcdcdc;
    margin-top: 4px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-12{
    grid-column: span 12;
}

.col-6 {
    grid-column: span 6;
}

.col-5{
    grid-column: span 5;
}

.col-4{
    grid-column: span 4;
}

.col-2 {
    grid-column: span 2;
}

.align-center{
    margin-left: auto;
    margin-right: auto;
}

.align-right{
    margin-left: auto;
}

.align-left{
    margin-right: auto;
}

.align-bottom{
    margin-top: auto;
}

.mb-1{
    margin-bottom: 1em;
}

.ml-1{
    margin-left: 1em;
}

.mr-1{
    margin-right: 1em;
}

.clickable{
    cursor: pointer;
}

.rotate-90{
    transform: rotate(90deg);
}
h3 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-12 {
    grid-column: span 12;
}

.col-6 {
    grid-column: span 6;
}

.col-5 {
    grid-column: span 5;
}

.col-4 {
    grid-column: span 4;
}

.col-2 {
    grid-column: span 2;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

.align-bottom {
    margin-top: auto;
}

.mb-1 {
    margin-bottom: 1em;
}

.ml-1 {
    margin-left: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.clickable {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(90deg);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
