@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-pink, 500, 900, A100);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

.mat-menu-panel {
    background-color: transparent !important;
}

.no-padding-dialog-container .mat-dialog-container {
    padding: 0px !important;
    background-color: #404040;
}

mat-form-field{
    margin: 0px;
    box-sizing: border-box;
    min-width: 99%;
}

.mat-form-field-label {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

mat-form-field.mat-form-field {
    font-weight: bold;
    font-size: 16px;
}

.mat-form-field-label .red {
    color: red;
}

.mat-form-field-label .green {
    color: green;
}

.mat-form-field-label .blue {
    color: deepskyblue;
}

input.mat-input-element {
    color: white;
}

.mat-h3, .mat-subheading-2, .mat-typography h3{
    margin: 0px;
}

@include angular-material-theme($app-theme);
