<div>
    <h3>{{ title }}</h3>
    <app-slider [title]="width" [value]='contourWidth' [min]='minWidth' 
        [max]='maxWidth' (valueChange)='setContourWidth($event)'></app-slider>
    <app-draw-type [value]='drawType' (valueChange)='setDrawType($event)'></app-draw-type>
</div>
