<div>
    <h3>{{ title }}</h3>
    <app-slider [title]="widthTitle" [value]='defaultWidth' [min]='minWidth' 
        [max]='maxWidth' (valueChange)='setWidth($event)'></app-slider>
</div>
<div>
    <app-slider [title]="angleTitle" [value]="angle" [min]='minAngle' 
        [max]='maxAngle' [step] = "15" (inputChange)='setAngle($event)'></app-slider>
        <input matInput [min]="minAngle" [max]="maxAngle" [value]="angle" [(ngModel)]="angle" autocomplete="off" disabled />

</div>
   
<div>
    <app-stamp-choice [value]='stampChoice' (valueChange)='setStampChoice($event)' ></app-stamp-choice>
</div>
    
    
    

