<div>
    <h3>{{ title }}</h3>
    <app-slider (valueChange)="onToleranceChange($event)" [title]="tolerance" [value]='tolerance$ | async' [max]="bucketService.maxTolerance" [min]="bucketService.minTolerance"></app-slider>
</div>