<div>
    <h3>{{ title }}</h3>
    <app-slider title="Épaisseur" [value]='width' [min]='minWidth' 
        [max]='maxWidth' (valueChange)='setWidth($event)'></app-slider>
    <app-has-junction (valueChange)="setHasJunction($event)" [value]='hasJunction' ></app-has-junction>    
    <app-slider 
        title="Diamètre"
        *ngIf='hasJunction' 
        (valueChange)='setDiameter($event)' 
        [value]='diameter' 
        [min]='minDiameter' 
        [max]='maxDiameter'
    >
    </app-slider>
</div>
