<div>
    <h3>{{ title }}</h3>    
    <app-slider [title]="jetDiameter" [value]='defaultJetDiameter' [min]='minJetDiameter' 
        [max]='maxJetDiameter' (valueChange)='setJetDiameter($event)'></app-slider>
    
    <app-slider [title]="sprayDropletDiameter" [value]='defaultSprayDropletDiameter' [min]='minSprayDropletDiameter' 
        [max]='maxSprayDropletDiameter' (valueChange)='setSprayDropletDiameter($event)'></app-slider>

    <div class="attribute-box">
        <h3>Nombre d'emissions</h3>
    <mat-slider
    [min]="minEmissionsPerSecond"
    [max]="maxEmissionsPerSecond"
    step="500"
    thumbLabel="true"
    [displayWith]="formatLabel"
    [value]="defaultEmissionsPerSecond"
    (valueChange)="setEmissionsPerSecond($event)"></mat-slider></div>
</div>