<div>
    <h3>{{ title }}</h3>
    <app-slider [title]="sizeTitle" [value]='fontSize' [min]='minFontSize' 
        [max]='maxFontSize' (inputChange)='setFontSize($event)' (valueChange)='setFontSize($event)'></app-slider>
    <app-drop-down [title]="fontFamilyTitle" [choices]='fontFamilies' [defaultChoice]="fontFamily" (valueChange)="setFontFamily($event)"></app-drop-down>
    <app-font-style [isBold]='isBold' [isItalic]='isItalic' (boldChange)="setBold($event)" (italicChange)="setItalic($event)"></app-font-style>
    <app-text-align [alignment]='alignment' (alignmentChange)='setAlignment($event)'></app-text-align>
</div>
