<div class="container">
    <app-sidebar></app-sidebar>
    <app-attributes-panel></app-attributes-panel>
    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0"></app-drawing>
    </div>
</div>