.container{
    color: white;    
    padding: 20px 15px 15px 15px;
    background-color: 	#404040;
    float: left;
    width: 250px;
    position: relative;
    height: 100%;
    overflow: auto;
}

.white{
    color: white;
}

h3{
    padding: 0px;
    margin: 0px;
}