// code from Lukas Marx at https://malcoded.com/posts/angular-color-picker/
:host {
    width: 316px;
    padding: 16px;
}
.color-wrapper {
    display: flex;
    height: 250px;
}


.color-div {
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.color-background,
.color-preview {
    grid-column: 1;
    grid-row: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.color-background {
    border: 1px solid white;
    background-color: white;
}

.color-preview {
    border: 1px solid transparent;
}



.little-box-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.little-box {
    box-sizing: border-box;
    border: 1px solid black;
    height: 30px;
    width: 19%;
    padding: 0px;
    margin: 1px;
}

.color-opacity{
    min-width: 100%;
}

.input-text {
    display: block;
}

.attribute-box {
    color: black;
    border-radius: 5px;
    background: #dcdcdc;
    margin-top: 5px;
}
