<div *ngIf="(context$ | async) as context">
    <h3>{{ title }}</h3>
    <div class="attribute-box">
        <div class="row">
            <div class="col-5">
                <div class="input-wrapper">
                    <div class="color-div" (click)="selectColor(this.PRIMARY, context.primaryColor)">
                        <div class="color-background"></div>
                        <div class="color-preview" [ngStyle]="{ 'background-color': context.primaryColor.toString() }"></div>
                    </div> 
                     <mat-slider
                        class="color-opacity"
                        thumbLabel
                        [min]="colorService.MIN_OPACITY"
                        [max]="colorService.MAX_OPACITY"
                        [value]="colorAlpha"
                        (change)="setColorOpacity($event, this.PRIMARY)"
                    ></mat-slider>
                </div>
            </div>
            <div class="col-2">
                <div class="invert">
                    <img (click)="invert()" class="rotate-90 clickable" src="./assets/colors/switch.svg" alt="Kiwi standing on oval">
                </div>
            </div>
            <div class="col-5">
                <div class="input-wrapper">
                    <div class="color-div" (click)="selectColor(this.SECONDARY, context.secondaryColor)">
                        <div class="color-background"></div>                      
                        <div class="color-preview" [ngStyle]="{ 'background-color': context.secondaryColor.toString() }"></div>    
                    </div>
                     <mat-slider
                        class="color-opacity"
                        thumbLabel
                        [min]="colorService.MIN_OPACITY"
                        [max]="colorService.MAX_OPACITY"
                        [value]="secondaryColorAlpha"
                        (change)="setColorOpacity($event, this.SECONDARY)"
                    ></mat-slider>
                </div>
            </div>
        </div>   
        <h3>Historique des couleurs</h3>
        <div class="little-box-container">
            <div
                class="little-box clickable"
                (mousedown)="selectColorFromHistory($event, color)"
                (contextmenu)="selectColorFromHistory($event, color)"
                [ngStyle]="{ 'background-color': color }"
                *ngFor="let color of colorHistory"
            ></div>
        </div>
    </div>
</div>