<div>
    <h3>{{ title }}</h3>
    <app-slider [title]="lengthTitle" [value]="length" [min]="minWidth" [max]="maxWidth" (inputChange)="setLength($event)"></app-slider>
</div>
<div>
    <app-slider
        [title]="angleTitle"
        [value]="angle"
        [min]="minAngle"
        [max]="maxAngle"
        [step]="15"
        (inputChange)="setAngle($event)"
    ></app-slider>
    <input matInput [min]="minAngle" [max]="maxAngle" [value]="angle" [(ngModel)]="angle" autocomplete="off" disabled />

</div>
