<div class="container">
    <h1 mat-dialog-title>{{ guide.title }}</h1>
    <div mat-dialog-content>
        <app-user-subguide [guides]="guide.subguides"></app-user-subguide>
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-button mat-dialog-close>Fermer</button>
    </div>
</div>