<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-button-toggle-group [value]='alignment' (change)='setAlignment($event.value)'>
        <mat-button-toggle value="left" >
            <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
            <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
            <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
