<h1>Options d'exportation</h1>
<div>
    <div class="sub-section">
        <form>
            <mat-form-field>
                <mat-label class="text">Titre</mat-label>
                <input matInput [(ngModel)]="this.title" (input)="onTitleUpdate($event)" [ngModelOptions]="{ standalone: true }" />
            </mat-form-field>
        </form>
    </div>
    &nbsp;
    <div class="sub-section">
        <h5>Filtres</h5>
        <mat-radio-group name="filterList" [(ngModel)]="filter">
            <mat-grid-list cols="3" rowHeight="30">
                <mat-grid-tile *ngFor="let filter of exportFilters">
                    <mat-radio-button [value]="filter" (click)="onFilterUpdate(filter)">{{ filter }}</mat-radio-button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-radio-group>
    </div>
    &nbsp;
    <div class="sub-section">
        <h5>Format d'exportation</h5>
        <mat-radio-group name="formatList" [(ngModel)]="format">
            <mat-grid-list cols="2" rowHeight="30">
                <mat-grid-tile *ngFor="let format of exportFormats">
                    <mat-radio-button [value]="format" (click)="onFormatUpdate(format)">{{ format }}</mat-radio-button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-radio-group>
    </div>
    &nbsp;
    <div class="sub-section">
        <h5>Mode d'export </h5>
        <mat-radio-group name="exportModeList" [(ngModel)]="exportMode">
            <mat-grid-list cols="2" rowHeight="30">
                <mat-grid-tile *ngFor="let mode of exportModes">
                    <mat-radio-button [value]="mode" (click)="onExportModeUpdate(mode)">{{ mode }}</mat-radio-button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-radio-group>
        &nbsp;
        <mat-form-field *ngIf="this.exportMode === 'Courriel'">
            <mat-label class="text">Courriel</mat-label>
            <input matInput [(ngModel)]="this.email" (input)="onEmailUpdate($event)" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          &nbsp;
    </div>
    &nbsp;
    <div class="sub-section">
        <h5>Aperçu</h5>
        <div id="preview">
            <canvas #canvas style="border: 1px solid black"></canvas>
            <canvas #previewCanvas hidden></canvas>
        </div>
    </div>
</div>

<div class="button-section">
    <button mat-button mat-dialog-close>Annuler</button>
    <a #downloadedImage><button mat-button id="confirm-button" *ngIf="this.exportMode === 'Téléchargement'"(click)="exportConfirmation()">Exporter en local</button></a>
    <button mat-button *ngIf="this.exportMode === 'Courriel'" id="confirm-button"  (click)="exportConfirmation()">Envoyer Courriel</button>
</div>
