.container {
    min-height: 80vh;
    height: auto;
    width: auto;
    user-select: none;
}

.actions {
    max-height: 50px;
}

.sub-section {
    margin-bottom: 10px;
}

div.invalidFromEntry {
    grid-column: 1/-1;
    color: red;
    font-size: 10px;
}

.option-selection {
    display: flex;
    flex-direction: row;

    .sub-section {
        margin-bottom: 10px;

        .details {
            display: flex;
            flex-direction: column;
        }

        #canvas {
            max-width: 400px;
            max-height: 400px;
        }
    }
}
.mat-radio-button {
    color: rgb(0, 2, 2);
}

/* Override Angular Material elements */
 .mat-chip-list-wrapper {
    max-width: 350px !important;
}

 .mat-form-field-appearance-legacy .mat-form-field-label {
    color: black !important;
}

 .mat-ripple-element {
    display: none !important;
}

 .mat-form-field-ripple {
    background-color: violet !important;
}

 .mat-input-element {
    color: black !important;
    caret-color: black !important;
}

 .mat-form-field-underline,
.mat-form-field-underline.mat-focused {
    background-color: whitesmoke !important;
}
