<style>
    @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
</style>
<div class="container">
    <h1 mat-dialog-title>Carrousel de dessins</h1>
    <div mat-dialog-content class="content">
        <mat-form-field class="filter">
            <mat-chip-list #filterList aria-label="tag selection">
                <mat-chip *ngFor="let tag of carouselService.filteringTags" selectable=false
                            removable=true (removed)="removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nouvelle étiquette..."
                    [matChipInputFor]="filterList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur=false
                    (matChipInputTokenEnd)="addFilterTagByEvent($event)" style="color: #3f525c;">
            </mat-chip-list>   
        </mat-form-field>
        <div class="cards-content" *ngIf="cards.length > 0; else firstElseBlock">
            <div class="arrow-container arrow-1" *ngIf="cards.length > 1">
                <span class="material-icons arrow" (click)="onPrevious()">arrow_back_ios</span>
            </div>
            <div class="flex-container">
                <div class="flex-item" *ngFor="let i of shownCardsIndices; let index = index" [ngClass]="{'interest-item': index === indexOfInterest}">
                    <img class="preview" (click)="openImage(i)" [src]="cards[i].imageSource"/>
                    <div class="title">{{cards[i].title}}</div>
                    <div class="tags">
                        <button class="tag" *ngFor="let tag of cards[i].tags" (click)="addFilterTag(tag)">{{tag}}</button>
                    </div>
                    <img class="dustbin" [src]="DUSTBIN_IMAGE_PATH" alt="Supprimer" (click)="deleteImage(i, index)" />
                </div>
            </div>
            <div class="arrow-container arrow-2" *ngIf="cards.length > 1">
                <span class="material-icons arrow" (click)="onNext()">arrow_forward_ios</span>
            </div>
        </div>
        <ng-template #firstElseBlock>
            <div class="content">
                <div class="no-card-text">Le carrousel a subi un lavage de cerveau !!! 🧠🚽😱</div>
                <img class="no-card-img" [src]="NO_CARD_IMAGE_PATH"/>
            </div>
        </ng-template>
    </div>

    <div class="message-container" [ngSwitch]="imageState">
        <span class="message" *ngSwitchCase="'Loading'">
            Image en cours de chargement 
            <img [src]="LOADING_IMAGE_PATH" class="message-image"/>
        </span>
        <span class="message" *ngSwitchCase="'Complete'">
            🌟 Image chargée avec succès ! (⌐■_■) 🌟
        </span>
        <span class="message" *ngSwitchCase="'UsedCanvas'">
            Oops ! Une image est déjà présente. <br/>
            Voulez-vous abandonner vos changements ? <br/>
            <button class="confirm-action" (click)="confirmImageDrawing()">Abandonner</button>
            <button class="confirm-action" (click)="cancelImageDrawing()">Annuler</button>
        </span>
        <span class="message" *ngSwitchCase="'LoadingError'">
            Erreur lors du chargement de l'image 
            <span class="material-icons">
                sentiment_very_dissatisfied
            </span>
            <br/>
            Veuillez en choisir une autre s'il vous plaît...
        </span>
        <span class="message" *ngSwitchCase="'DeletionError'">
            Erreur lors de la suppression de l'image pour une raison inconnue jusqu'à présent
            <span class="material-icons">
                sentiment_very_dissatisfied
            </span>
        </span>
        <span class="message" *ngSwitchCase="'NoCorrespondence'">
            Aucune image trouvée avec cette étiquette
            <span class="material-icons">
                sentiment_very_dissatisfied
            </span>
        </span>
    </div>

    <div mat-dialog-actions class="actions">
        <button mat-button mat-dialog-close>Fermer</button>
    </div>
</div>