img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    height: 600px;
    width: auto;
    position: relative;
}

.content{
    width: 100%;
    height: 450px;
    margin: auto;
    white-space: nowrap;
    position: relative;
    overflow: auto;
}

.filter{
    color: #3f525c;
}

.cards-content{
    width: 950px;
    height: 420px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    white-space: nowrap;
    position: relative;
}

.flex-container{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    //scroll-snap-type: x mandatory;
    position: absolute;
    top: 0px;
    left: 100px;
    padding: 20px;
    margin: auto;
    width: auto;
    height: 360px;
}

.flex-item{
    background-color: #eee;
    display: inline-block;
    scroll-snap-align: start;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    width: 216px;
    height: 300px;
    position: relative;
}

.interest-item{
    border-style: outset;
    width: 235px;
    height: 320px;
}

.preview{
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.title{
    height: 20px;
    position: absolute;
    top: 160px;
    left: 15px;
    margin-bottom: 10px;
    font-family: 'Sansita Swashed', cursive;
}

.tags{
    width: 216px;
    height: 80px;
    position: absolute;
    top: 190px;
    font-family: 'Sansita Swashed', cursive;
}

.tag{
    display: inline-block;
    margin-left: 15px;
}

.arrow-container{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 360px;
    width: 65px;
    position: absolute;
    margin-top: 10px;
}

.arrow{
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 25px;
    width: 65px;
    background-color: #3f525c;
    border-radius: 50px;
    margin-top: 10px;
}

.arrow-1{
    left: 24px;
}

.arrow-2{
    left: 910px
}

.arrow:hover{
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}

.no-card-text{
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.no-card-img{
    margin: auto;
    margin-top: 30px;
}

.dustbin{
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.dustbin:hover{
    background-color: #607d8b;
    cursor: pointer;
}

.message-container{
    position: relative;
    width: 100%;
}

.message{
    font-family: 'Sansita Swashed', cursive;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.message-image{
    display: inline-block;
    margin: auto;
    max-width: 30px;
    max-height: 30px;
}

.confirm-action{
    font-family: 'Sansita Swashed', cursive;
    margin-left: 15px;
    position: relative;
    top: 15px;
}

/* Responsive layout - makes a one column layout instead of a three-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    width: 250px;
    min-height: 100%;
  }
  .arrow-2{
    left: 400px;
  }
}