<div>
    <h1 mat-dialog-title>{{ title }}</h1>
    <div mat-dialog-content>
      <p>{{ question }} </p>     
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button color="primary" (click)="onConfirm()" cdkFocusInitial>{{ confirm }}</button>
        <button mat-flat-button color="warn" (click)="onCancel()">{{ cancel }}</button>
    </div>
</div>
