<mat-tab-group animationDuration="500ms" mat-align-tabs="center">
    <ng-template [ngIf]="guides">
        <mat-tab *ngFor="let guide of guides">
            <ng-template [ngIf]="guide.title">
                <ng-template mat-tab-label>{{ guide.title }}</ng-template>
            </ng-template>
            <ng-template matTabContent>
                <ng-template [ngIf]="guide.img">
                    <img class="guide-img" [src]="guide.img" />
                </ng-template>
                <ng-template [ngIf]="guide.content">
                    <p *ngFor="let content of guide.content">{{ content }}</p>
                    <br />
                </ng-template>
                <ng-template [ngIf]="guide.subguides">
                    <app-user-subguide [guides]="guide.subguides"></app-user-subguide>
                </ng-template>
            </ng-template>
        </mat-tab>
    </ng-template>
</mat-tab-group>
