.guide-img{
    max-height: 35vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mat-dialog-content{
    max-height: auto;
}

p{
    line-height: 120%;
}