
<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-button-toggle-group [value]='value' (change)='onChange($event)'>
        <mat-button-toggle *ngFor='let path of iconsPath; let i = index' [value]='choices[i]'><img [src]='path' class='icon'></mat-button-toggle>
    </mat-button-toggle-group>
</div>