<div id="canvas-container">
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height" class="dotted-border"></canvas>
    <canvas id="previewGrid" #previewGrid [attr.width]="width" [attr.height]="height"></canvas>

</div>
