canvas {
    cursor: crosshair;
    border: 2px solid #000000;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    z-index: 0;
    background: white;
}

#previewGrid {
    background: transparent;
}

#canvas-container {
    position: relative;
}