<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-button-toggle-group [value]='value' (change)='onChange($event)'>
        <mat-button-toggle value='1'>1</mat-button-toggle>
        <mat-button-toggle value='2'>2</mat-button-toggle>
        <mat-button-toggle value='3'>3</mat-button-toggle>
        <mat-button-toggle value='4'>4</mat-button-toggle>
        <mat-button-toggle value='5'>5</mat-button-toggle>
    </mat-button-toggle-group>
</div>
