<div>
    <h3>{{ title }}</h3>
    <app-slider title="Épaisseur" [value]="contourWidth" [min]="minWidth" [max]="maxWidth" (valueChange)="setContourWidth($event)"></app-slider>
    <app-draw-type [value]="drawType" (valueChange)="setDrawType($event)"></app-draw-type>
    <app-sides-number [value]="sidesNumber" (valueChange)="setSidesNumber($event)"></app-sides-number>
</div>
