<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-button-toggle-group multiple>
        <mat-button-toggle (change)='setBold($event.value)' [checked]='isBold' [value]='!isBold'>
            <b>B</b>
        </mat-button-toggle>
        <mat-button-toggle (change)='setItalic($event.value)' [checked]='isItalic' [value]='!isItalic'>
            <i>I</i>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
