.color-div {
    display: grid;
    justify-items: center;
}

.color-preview {
    grid-column: 1;
    grid-row: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.color-preview {
    border: 1px solid transparent;
}

.flex{
    display: flex;
}

.d-block{
    display: block;
}

mat-form-field{
    width: auto;
}

button{
    margin: 2px;
}