<!-- code from Lukas Marx at https://malcoded.com/posts/angular-color-picker/ -->
<div>
    <div class="flex">
        <app-color-palette class="palette" [defaultColor]="defaultColor" [hue]="hue" (color)="colorSelection($event)"></app-color-palette>
        <app-color-slider [defaultColor]="defaultColor" class="slider" (color)="hue = $event"></app-color-slider>
    </div>
    <div class="ml-1 mr-1">
        <div class="flex">
            <mat-form-field appearance="fill">
                <mat-label class="red">Rouge</mat-label>
                <input matInput #red [(ngModel)]="hexRed" (keyup)="onUserInput(red.value, green.value, blue.value)" />
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field appearance="fill">
                <mat-label class="green">Vert</mat-label>
                <input matInput #green [(ngModel)]="hexGreen" (keyup)="onUserInput(red.value, green.value, blue.value)" />
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field appearance="fill">
                <mat-label class="blue">Bleu</mat-label>
                <input matInput #blue [(ngModel)]="hexBlue" (keyup)="onUserInput(red.value, green.value, blue.value)" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex mb-1">
        <div class="color-div align-center">
            <div class="color-preview" [ngStyle]="{ 'background-color': color.toString() }"></div>
        </div>
        <div class="align-right align-bottom">
            <button mat-flat-button color="primary" (click)="onSelect()" cdkFocusInitial>Confirmer</button>
            <button mat-flat-button color="warn" (click)="onCancel()">Annuler</button>
        </div>
    </div>
</div>
