<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-form-field>
        <mat-select [value]="defaultChoice" (selectionChange)="onChange($event)">
            <mat-option *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>