<div class="container">
    <div class="title">Polydessin</div>
    <div class="card create-new">
        <img class="svg" mat-card-image src="../../../assets/home-page/new.svg" alt="Créer un nouveau dessin" />
        <button class="action-btn" (click)="editor()">Créer un nouveau dessin</button>
    </div>
    <div class="card continue" *ngIf='continueDrawing'>
        <img class="svg" mat-card-image src="../../../assets/home-page/continue.svg" alt="Continuer" />
        <button class="action-btn" (click)="continue()">Continuer un dessin</button>
    </div>
    <div class="card carousel">
        <img class="svg" mat-card-image src="../../../assets/home-page/carousel.svg" alt="Carousel" />
        <button (click)="openCarousel()" class="action-btn">Carrousel de dessin</button>
    </div>
    <div class="card guide">
        <img class="svg" mat-card-image src="../../../assets/home-page/help.svg" alt="Carousel" />
        <button (click)="openUserGuide()" class="action-btn">Guide d'utilisation</button>
    </div>
</div>
