.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('./../../../assets/home-page/bg.png');
    background-size: 100%;
}

.title{
    position: absolute;
    left: 40%;
    top: 20%;
    font: 400 90px/1.2 'Leckerli One', Helvetica, sans-serif;
}

.card {
    margin-top: 5vh;
    position: absolute;
}

.svg {
    height: 10vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.create-new{
    top: 10%;
    left: 15%;
}

.continue{
    top: 50%;
    left: 15%;
}

.carousel{
    top: 50%;
    left: 40%;

}

.guide{
    top: 50%;
    left: 65%;

}

.action-btn:hover {
    background-color: #d0d0d0;
}


button {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #FFE23C;
}
