<div>
    <h3>{{ title }}</h3>
    <div class="attribute-box">
        <mat-radio-group name="gridViewModeList" [(ngModel)]="gridViewMode">
            <mat-grid-list cols="2" rowHeight="30">
                <mat-grid-tile *ngFor="let mode of gridModes">
                    <mat-radio-button [value]="mode" (click)="onGridViewUpdate(mode)">{{ mode }}</mat-radio-button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-radio-group>
    </div>
    <app-slider *ngIf="this.gridViewMode === 'Visible'"    
        [title]="'Taille des carrés'"
        [min]="THICKNESS_SLIDER_MINIMUM"
        [max]="THICKNESS_SLIDER_MAXIMUM"
        [step]="5"
        [value]="thickness"
        (inputChange)="setThickness($event)"
    >
    </app-slider>
    <app-slider
        *ngIf="this.gridViewMode === 'Visible'"
        [title]="'Opacité'"
        [min]="OPACITY_SLIDER_MINIMUM"
        [max]="OPACITY_SLIDER_MAXIMUM"
        [step]="0.1"
        [value]="opacity"
        (inputChange)="setOpacity($event)"
    >
    </app-slider>

</div>
