<div>
    <h3>{{ title }}</h3>
    <div id="canvas-container">
        <canvas id="previewLayer" #previewCanvas [attr.width]="previewCanvasWidth" [attr.height]="previewCanvasHeight"></canvas>
    </div>
</div>
