<div class="attribute-box">
    <h3>{{ title }} </h3>
    <mat-slider thumbLabel 
    [min]='min' 
    [max]='max' 
    [value]='value' 
    [step]='step'
    (change)='onChange($event)'
    (input)='onInput($event)'></mat-slider>
</div>