<div class="container">
    <div class="sidebar">
        <div class="middle">
            <div class="col-1">
                <button class="button" mat-mini-fab color="basic" matTooltip="Retour" (click)="goBack()">
                    <img class="svg-icon" src="../../../assets/sidebar/back.svg" alt="Retour" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.ERASER }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Efface (e)"
                    (click)="selectTool(toolName.ERASER)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/eraser.svg" alt="Efface" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.PENCIL }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Crayon (c)"
                    (click)="selectTool(toolName.PENCIL)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/pencil.svg" alt="Crayon" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.FEATHER }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Plume (P)"
                    (click)="selectTool(toolName.FEATHER)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/feather-pen.svg" alt="Plume" />
                </button>

                <button
                    [ngClass]="{ selected: currentTool === toolName.RECTANGLE }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Rectangle (1)"
                    (click)="selectTool(toolName.RECTANGLE)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/rectangle.svg" alt="Rectangle" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.POLYGON }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Polygone (3)"
                    (click)="selectTool(toolName.POLYGON)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/polygon.svg" alt="Polygone" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.BUCKET }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Sceau (B)"
                    (click)="selectTool(toolName.BUCKET)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/bucket.svg" alt="Sceau" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.TEXT }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Texte (T)"
                    (click)="selectTool(toolName.TEXT)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/text.svg" alt="Texte" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.SELECT_RECTANGLE }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Rectangle de sélection (R)"
                    (click)="selectTool(toolName.SELECT_RECTANGLE)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/dotted-square.svg" alt="Rectangle de sélection" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.MAGIC_WAND }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Baguette magique (V)"
                    (click)="selectTool(toolName.MAGIC_WAND)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/magic-wand.svg" alt="Baguette magique" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.GRID }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Grille (G)"
                    (click)="selectTool(toolName.GRID)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/grid.svg" alt="Grille" />
                </button>
                <button mat-mini-fab class="button hidden"></button>
                <button class="button" mat-mini-fab color="basic" matTooltip="Exporter" (click)="openExportPanel()">
                    <img class="svg-icon" src="../../../assets/sidebar/export.svg" alt="Exporter" />
                </button>
                <button class="button" mat-mini-fab color="basic" matTooltip="Guide" (click)="openUserGuide()">
                    <img class="svg-icon" src="../../../assets/sidebar/help.svg" alt="Guide" />
                </button>
            </div>
            <div class="col-2">
                <button class="button" mat-mini-fab color="basic" matTooltip="Nouveau" (click)="new()">
                    <img class="svg-icon" src="../../../assets/sidebar/new.svg" alt="Retour" />
                </button>
                <button mat-mini-fab class="button hidden"></button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.BRUSH }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Pinceau (W)"
                    (click)="selectTool(toolName.BRUSH)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/brush.svg" alt="Pinceau" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.SPRAYPAINT }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Aérosol (A)"
                    (click)="selectTool(toolName.SPRAYPAINT)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/spray.svg" alt="Aérosol" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.ELLIPSE }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Ellipse (2)"
                    (click)="selectTool(toolName.ELLIPSE)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/ellipse.svg" alt="Ellipse" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.LINE }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Ligne (L)"
                    (click)="selectTool(toolName.LINE)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/line.svg" alt="Ligne" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.STAMP }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Étampe (D)"
                    (click)="selectTool(toolName.STAMP)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/rubber-stamp.svg" alt="Étampe" />
                </button>
                <button mat-mini-fab class="button hidden"></button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.SELECT_ELLIPSE }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Ellipse de sélection (S)"
                    (click)="selectTool(toolName.SELECT_ELLIPSE)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/dashed-circle.svg" alt="Ellipse de sélection" />
                </button>
                <button
                    [ngClass]="{ selected: currentTool === toolName.EYE_DROPPER }"
                    class="button"
                    mat-mini-fab
                    color="basic"
                    matTooltip="Pipette (I)"
                    (click)="selectTool(toolName.EYE_DROPPER)"
                >
                    <img class="svg-icon" src="../../../assets/sidebar/eye-dropper.svg" alt="Pipette" />
                </button>
                <button mat-mini-fab class="button hidden"></button>
                <button mat-mini-fab class="button hidden"></button>
                <button class="button" mat-mini-fab color="basic" matTooltip="Enregistrer" (click)="openSavePanel()">
                    <img class="svg-icon" src="../../../assets/sidebar/save.svg" alt="Enregistrer" />
                </button>
            </div>
        </div>
    </div>
</div>
