.container {
    display: flex;
    height: 100%;
    overflow: auto;
}

.sidebar {
    position: relative;
    left: 0;
    padding-top: 10px;
    width: 100px;
    z-index: 1;
    bottom: 0;
    background-color:grey;
    float: left;
}

.middle {
    margin-top: 5px;
}

.col-1{
    float: left;
    width: 50%;
}

.col-2{
    float: left;
    width: 50%;
}


.button{    
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    background-color: grey;
    box-sizing: border-box;
}

.button:hover{
    cursor: pointer;
    
}

.hidden{
    visibility: hidden;
}

.selected{
    border: white 1px solid;
}

.bottom{
    position: absolute;
    bottom: 10px;
}

.svg-icon{
    height: 20px;
    width: 20px;
}

.crushed{
    transform: scale(2,1);
}
