<div class="attribute-box">
    <h3>{{ title }}</h3>
    <mat-form-field>
        <mat-select [value]="value" (selectionChange)="onChange($event)">
            <mat-option *ngFor="let number of sidesChoices" [value]="number">{{ number }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
