<div>
    <h3>{{ title }}</h3>
    <app-slider [title]="widthTitle" [value]='width' [min]='minWidth' 
    [max]='maxWidth' (valueChange)='setWidth($event)'></app-slider>

    <app-texture [value]='texture' (valueChange)='setTexture($event)'></app-texture>
</div>
